sidewalk_grid_node:
  ros__parameters:
    grid_map_filters:
      filter1:
        name: "inpaint"
        type: "gridMapCv/InpaintFilter"
        params:
          input_layer: "elevation"
          output_layer: "elevation_inpainted"
          radius: 0.08  # No quotes for numeric

      filter2:
        name: "smooth"
        type: "gridMapFilters/MeanInRadiusFilter"
        params:
          input_layer: "elevation_inpainted"
          output_layer: "elevation_smooth"
          radius: 0.1

      filter3:
        name: "normals"
        type: "gridMapFilters/NormalVectorsFilter"
        params:
          input_layer: "elevation_smooth"
          output_layers_prefix: "normal_"
          radius: 0.2
          normal_vector_positive_axis: "z"

      filter4:
        name: "slope"
        type: "gridMapFilters/MathExpressionFilter"
        params:
          output_layer: "slope"
          expression: "acos(normal_z)"   # Radians, no conversion needed  # Fixed: no 'degrees()' function

      filter5:
        name: "roughness"
        type: "gridMapFilters/MathExpressionFilter"
        params:
          output_layer: "roughness"
          expression: "abs(elevation_inpainted - elevation_smooth)"

      filter6:
        name: "edges"
        type: "gridMapFilters/SlidingWindowMathExpressionFilter"
        params:
          input_layer: "slope"
          output_layer: "edges"
          expression: "sqrt(sumOfFinites(square(slope - meanOfFinites(slope))) ./ numberOfFinites(slope))"
          compute_empty_cells: false
          edge_handling: "crop"
          window_length: 0.2
      filter7: # Compute traversability as normalized weighted sum of slope and roughness.
        name: traversability_cost
        type: gridMapFilters/MathExpressionFilter
        params:
          output_layer: traversability_cost
          expression: 25 *( slope) + 25 * (roughness ) + 50 * (nav2_occupancy / 100.0)

      filter8:  # Set lower threshold on traversability.
        name: traversability_lower_threshold
        type: gridMapFilters/ThresholdFilter
        params:
          layer: traversability_cost
          lower_threshold: 0.0
          set_to: 0.0

      filter9:  # Set upper threshold on traversability.
        name: traversability_upper_threshold
        type: gridMapFilters/ThresholdFilter
        params:
          layer: traversability_cost
          upper_threshold: 100.0
          set_to: 100.0 