<?xml version="1.0"?>
<robot name="earthrover" xmlns="http://www.ros.org/wiki/urdf" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="body_length" value="0.375"/>
    <xacro:property name="body_width" value="0.273"/>
    <xacro:property name="body_height" value="0.58"/>
    <xacro:property name="wheel_radius" value="0.055"/>
    <xacro:property name="wheel_width" value="0.03"/>

    <link name="base_link">
        <visual>
            <origin xyz="0 0 ${body_height / 2}" rpy="0 0 0"/>
            <geometry>
                <box size="${body_length} ${body_width} ${body_height}"/>
            </geometry>
            <material name="grey"><color rgba="0.3 0.3 0.35 1.0"/></material>
        </visual>
    </link>
    
    <link name="front_camera_link"/>
    <joint name="front_camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="front_camera_link"/>
        <origin xyz="0 0 ${.56 - body_height / 2}" rpy="0 0 0"/>
    </joint>

    <link name="front_camera_optical_frame"/>
    <joint name="front_camera_optical_joint" type="fixed">
        <parent link="front_camera_link"/>
        <child link="front_camera_optical_frame"/>
        <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/>
    </joint>

    <link name="rear_camera_link"/>
    <joint name="rear_camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="rear_camera_link"/>
        <origin xyz="0 0 ${.56 - body_height / 2}" rpy="0 0.1396 3.1416"/>
    </joint>

    <link name="rear_camera_optical_frame"/>
    <joint name="rear_camera_optical_joint" type="fixed">
        <parent link="rear_camera_link"/>
        <child link="rear_camera_optical_frame"/>
        <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/>
    </joint>

    <link name="imu_link"/>
    <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="0 0 0.02" rpy="0 -1.5708 0"/>
    </joint>

    <link name="gps_link"/>
    <joint name="gps_joint" type="fixed">
        <parent link="base_link"/>
        <child link="gps_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
</robot>