ekf_filter_node:
  ros__parameters:
    frequency: 30.0
    two_d_mode: true       
    publish_tf: true     
    
    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom     

    imu0: /imu/data

    imu0_config: [false, false, false,
                  false, false, true,
                  false, false, false,
                  false, false, true,
                  false,  false, false] 
    imu0_differential: false
    imu0_queue_size: 10
    imu0_remove_gravitational_acceleration: true


    odom0: /odometry/gps

    odom0_config: [true,  true,  false,
                   false, false, false,
                   false, false, false,
                   false, false, false,
                   false, false, false]
    odom0_differential: false
    odom0_queue_size: 10

navsat_transform_node:
  ros__parameters:
    frequency: 10.0
    delay: 0.0
    magnetic_declination_radians: 0.0  # UPDATE THIS for your city (Google "Magnetic Declination NY")
    yaw_offset: 0.0                    # Adjust if IMU does not point East at startup
    zero_altitude: true
    broadcast_cartesian_transform: true # Publishes 'map' -> 'odom' to link GPS world to Local world
    publish_filtered_gps: true
    use_odometry_yaw: false
    wait_for_datum: false              # Set true if you want a fixed "Home" point every time