<?xml version="1.0"?>
<robot name="boxx">

  <!-- Base Link: The physical box center -->
  <!-- Origin is at Z=0.375m relative to the floor -->
  <link name="base_link">
    <visual>
      <!-- Origin of this visual relative to base_link -->
      <origin xyz="0 0 0.375" rpy="0 0 0"/> 
      <geometry>
        <!-- Actual dimensions of your robot -->
        <box size="1.14 0.76 0.75"/> 
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 0.8"/>
      </material>
    </visual>
  </link>

</robot>
